// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.boxes {
  display: inline; /* the default for span */
  width: 500px;
  height: 500px;
  padding: 20px 20px;
  border: 1px solid rgba(46, 141, 213, 0.831);
  background-color: rgba(46, 141, 213, 0.831);
  color: white;
  margin: 5px 5px;
  font-size: 20px;
  box-shadow: 5px 10px;
}

.question {
  margin-top: 30px;
}

.longer {
  width:300px;
}
